
/* ფონტის დამატება */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


*{
    margin:0;
    padding:0;
    box-sizing: border-box;  /* რისთვისაა საჭირიო? */
    list-style-type: none;
    font-family: 'inter';
}
 

body{
    background-color: #F5F5F7;
    width: 100vw;
    height: 100vh;
}



header {
  background-color: #F5F5F7;
  text-align: center;
  padding: 20px;
    >a {
     color: #5B47D1;
     background-color: #F0EDFF;
     padding: 10px 20px;
     font-size: 24px;
     font-weight: 700;
     text-decoration: none; /*ლინკების ქვედა ზოლის მოხსა*/
     margin-right: 50px;
    }
    nav{ 
       display: inline-block;
       ul {
            li{
                display: inline;
                padding: 10px 20px;
                a {
                    color: #000000;
                    text-decoration: none;
                    font-weight: 500;
                    font-size: 25px;
                }
            }
       }
    }
}
    .grid-container {
     align-items: center;
     width: 100%;
     
     
          
    }
    .hero-content 
{

    width: 1920px;
    height: 400px;
    background-image: url(./assets/header-backg.jpg) ;
    background-size: cover;
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px 0 0 0 ;
   
   h1{
       width: 975;
       height: 58px;
       margin: auto;
       color: #FFFFFF;
       font-weight: 700;
       font-size: 48px;
       padding: 131px 455px 37px;
       
      
   }  
   p{
      
      color: #FFFFFF;
      font-weight: 500 ;
      font-size: 20px;
      margin-top: 37;
      margin-bottom: 150px; 
      padding: 37px;
   }
}
    h2{
        text-align: center;
        width: 351px;
        height: 44px;
        margin: 45px auto;
        font-weight: 700;
        font-size: 36px;
        color: #000000;
        padding: 40px 0px 40px 0px;
    } 

.card-story {
   display: flex;
   width: 360px;
   height: 465px;
   display: inline-block;
   align-items: center;
   margin: 29px 29px;
   vertical-align: top;
}

.card-body{
    width: 360px;
    height: 472px;
    color: #000000;
    >p {
        font-weight: 400;
        font-size:15px ;
    }

}
 .date{
    width: 67px;
    height: 16px;
    font-weight: 400;
    font-size: 13px;
    
 }
 .author{
    font-weight: 400;
    font-size: 13px;
   
 }

 .post-meta{
    display: flex;

 }

 h3{
      font-weight: 600;
      font-size: 22px;
 }

.purple {
        width: 360px;
        height: 240px;
        background-color:#C7B8FF ;

       }
.pink{
        width: 360px;
        height: 240px;
        background-color: #FFB8D8;
}

.paleblue
{
    width: 360px;
    height: 240px;
    background-color: #B8E0FF;
}


.cream {
    width: 360px;
    height: 240px;
    background-color: #FFE4B8;
}

.green{
    width: 360px;
    height: 240px;
    background-color: #D4FFB8;   
}

.peach{
    width: 360px;
    height: 240px;
    background-color: #FFD4B8;

}

